.group-14 {
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
    min-width: 2055px;
  }
  
  .overlap-group4 {
    height: 16182px;
    margin-top: -0.5px;
    position: relative;
    width: 2058px;
  }
  
  .ai {
    left: 932px;
    letter-spacing: 0;
    line-height: 582px;
    position: absolute;
    text-align: center;
    top: 2060px;
    transform: rotate(3.00deg);
    white-space: nowrap;
  }
  
  .ddqn-team {
    height: 132px;
    left: 1085px;
    letter-spacing: 0;
    line-height: 100px;
    position: absolute;
    text-align: center;
    top: 74px;
    width: 588px;
  }
  
  .ergonomic-chair {
    left: 186px;
    letter-spacing: 0;
    line-height: 200px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 831px;
    white-space: nowrap;
  }
  
  .group-2 {
    align-items: flex-end;
    background-color: var(--concrete);
    display: flex;
    flex-direction: column;
    left: 79px;
    min-height: 1219px;
    opacity: 0.5;
    padding: 89.5px 20.5px;
    position: absolute;
    top: 2503px;
    width: 1813px;
  }
  
  .the-first-wealth-is-health {
    align-self: center;
    letter-spacing: 0;
    line-height: 168px;
    margin-left: 2.0px;
    margin-top: 59px;
    min-height: 204px;
    min-width: 1660px;
    text-align: center;
    white-space: nowrap;
  }
  
  .flex-row {
    align-items: flex-end;
    display: flex;
    margin-top: 241px;
    min-width: 1658px;
  }
  
  .x91-fa-mz-ikel {
    height: 536px;
    object-fit: cover;
    width: 536px;
  }
  
  .more-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-bottom: 8.96px;
    margin-left: 94px;
    min-height: 434px;
    width: 1028px;
  }
  
  .our-product-is-more {
    letter-spacing: 0;
    line-height: 57px;
    margin-right: 0;
    min-height: 206px;
    width: 1028px;
  }
  
  .discovery-more {
    letter-spacing: 0;
    line-height: 47px;
    margin-top: 163px;
    min-height: 65px;
    min-width: 387px;
    white-space: nowrap;
  }
  
  .group-3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 22px;
    min-height: 1355px;
    opacity: 0.5;
    padding: 0.0px 0;
    position: absolute;
    top: 4034px;
    width: 1920px;
  }
  
  .overlap-group {
    align-items: flex-end;
    background-image: url(path-1-1.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    height: 270px;
    min-width: 1920px;
    padding: 87.2px 534.5px;
  }
  
  .artificial-intelligence-application {
    letter-spacing: 0;
    line-height: 56px;
    min-height: 76px;
    min-width: 790px;
    white-space: nowrap;
  }
  
  .overlap-group1 {
    height: 968px;
    margin-left: 2.1px;
    margin-top: 116px;
    position: relative;
    width: 1675px;
  }
  
  .rectangle-1 {
    height: 942px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 26px;
    width: 1675px;
  }
  
  .ai-will-change-the-b {
    left: 213px;
    letter-spacing: 0;
    line-height: 53px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .learn-more {
    height: 74px;
    left: 1347px;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    text-decoration: underline;
    top: 662px;
    transform: rotate(270.00deg);
    width: 341px;
  }
  
  .group-4 {
    align-items: flex-end;
    display: flex;
    height: 456px;
    left: 122px;
    min-width: 1721px;
    opacity: 0.5;
    padding: 0.0px 0;
    position: absolute;
    top: 5703px;
  }
  
  .screenshot-2022-01-03-204033 {
    height: 128px;
    margin-bottom: 19.44px;
    object-fit: cover;
    width: 394px;
  }
  
  .flex-col {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 108px;
    margin-top: 3.1px;
    min-height: 437px;
    width: 718px;
  }
  
  .thank-for-suport-us {
    letter-spacing: 0;
    line-height: 67px;
    min-height: 91px;
    min-width: 718px;
    text-align: center;
    white-space: nowrap;
  }
  
  .screenshot-2022-01-03-204511 {
    height: 151px;
    margin-right: 35.46px;
    margin-top: 195px;
    object-fit: cover;
    width: 447px;
  }
  
  .screenshot-2022-01-03-205403 {
    height: 143px;
    margin-left: 73px;
    object-fit: cover;
    width: 427px;
  }
  
  .group-5 {
    align-items: flex-end;
    background-color: var(--black);
    display: flex;
    height: 449px;
    left: 22px;
    min-width: 1920px;
    opacity: 0.5;
    padding: 147.2px 224.0px;
    position: absolute;
    top: 6473px;
  }
  
  .ddqn {
    letter-spacing: 0;
    line-height: 93px;
    min-height: 125px;
    min-width: 272px;
    text-align: center;
    white-space: nowrap;
  }
  
  .overlap-group2 {
    align-items: flex-end;
    background-color: var(--white);
    display: flex;
    height: 259px;
    left: 0;
    min-width: 1943px;
    padding: 59.5px 88.5px;
    position: absolute;
    top: 0;
  }
  
  .icons8-home {
    height: 132px;
    object-fit: cover;
    width: 132px;
  }
  
  .ddqn-team-1 {
    align-self: center;
    height: 123px;
    letter-spacing: 0;
    line-height: 100px;
    margin-bottom: 1.35px;
    margin-left: 122px;
    text-align: center;
    width: 1257px;
  }
  
  .icons8-menu {
    cursor: pointer;
    height: 132px;
    margin-left: 120px;
    object-fit: cover;
    width: 132px;
  }
  
  .overlap-group3 {
    height: 16182px;
    left: 776px;
    position: absolute;
    top: 0;
    width: 1282px;
  }
  
  .rectangle-7 {
    background-color: var(--white);
    height: 16182px;
    left: 214px;
    position: absolute;
    top: 0;
    width: 960px;
  }
  
  .icons8-menu-1 {
    cursor: pointer;
    height: 132px;
    left: 928px;
    object-fit: cover;
    position: absolute;
    top: 96px;
    width: 132px;
  }
  
  .place {
    cursor: pointer;
    left: 0;
    letter-spacing: 0;
    line-height: 100px;
    position: absolute;
    text-align: center;
    top: 797px;
    white-space: nowrap;
    width: 1282px;
  }
  
  .production {
    cursor: pointer;
    left: 352px;
    letter-spacing: 0;
    line-height: 100px;
    position: absolute;
    text-align: center;
    top: 1482px;
    white-space: nowrap;
  }
  
  .mechanic {
    cursor: pointer;
    left: 400px;
    letter-spacing: 0;
    line-height: 100px;
    position: absolute;
    text-align: center;
    top: 2304px;
    white-space: nowrap;
  }
  
  .title {
    left: 88px;
    letter-spacing: 0;
    line-height: 380px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 15226px;
    white-space: nowrap;
  }
  
  .ddqn-team-2 {
    color: var(--dove-gray);
    font-family: var(--font-family-segoeui-regular);
    font-size: var(--font-size-xxxs);
    font-weight: 400;
    height: 78px;
    left: 884px;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 140px;
    width: 1091px;
  }
  
  @font-face {
    font-family: "Alba-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Alba-Regular") format("truetype");
  }
  @font-face {
    font-family: "ScriptMT-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/ScriptMT-Bold");
  }
  @font-face {
    font-family: "SegoeUI-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/SegoeUI-Regular") format("truetype");
  }
  @font-face {
    font-family: "Algerian-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Algerian-Regular") format("truetype");
  }