.group-17 {
    align-items: flex-start;
    display: flex;
    height: 9005px;
    min-width: 1942px;
  }
  
  .group-container {
    height: 9006px;
    margin-top: -0.5px;
    position: relative;
    width: 1943px;
  }
  
  .group-7 {
    display: flex;
    flex-direction: column;
    height: 1498px;
    justify-content: space-between;
    left: 157px;
    opacity: 0.5;
    position: absolute;
    top: 656px;
    width: 1533px;
  }
  
  .structure-of-ergonomic-chair {
    color: var(--black);
    flex: 1;
    font-family: var(--font-family-segoeui-bold);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    height: 125px;
    letter-spacing: 0;
    line-height: 93px;
    margin-left: 150.5px;
    margin-right: 124.1px;
    margin-top: 15px;
    max-height: 125px;
    text-align: center;
    white-space: nowrap;
  }
  
  .image-1 {
    flex: 1;
    height: 862.11px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    max-height: 862.11px;
    object-fit: cover;
  }
  
  .group-5 {
    align-items: flex-end;
    background-color: var(--black);
    display: flex;
    height: 449px;
    left: 22px;
    min-width: 1920px;
    opacity: 0.5;
    padding: 147.2px 224.0px;
    position: absolute;
    top: 8556px;
  }
  
  .ddqn {
    letter-spacing: 0;
    line-height: 93px;
    min-height: 125px;
    min-width: 272px;
    text-align: center;
    white-space: nowrap;
  }
  
  .group-6 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 186px;
    min-height: 3306px;
    opacity: 0.5;
    position: absolute;
    top: 2382px;
    width: 1668px;
  }
  
  .title {
    color: var(--black);
    font-family: var(--font-family-segoeui-bold);
    font-size: var(--font-size-xxxxl);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 104px;
    margin-top: 17px;
    min-height: 140px;
    min-width: 1452px;
    text-align: center;
    white-space: nowrap;
  }
  
  .flex-row {
    align-items: flex-end;
    align-self: center;
    display: flex;
    height: 656px;
    margin-right: 100.13px;
    margin-top: 64px;
    min-width: 1436px;
  }
  
  .the-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 656px;
    width: 902px;
  }
  
  .x1-reduce-the-rate-of-scoliosis {
    letter-spacing: 0;
    line-height: 44px;
    min-height: 60px;
    min-width: 626px;
    text-align: center;
    white-space: nowrap;
  }
  
  .according-to-the-a {
    height: 405px;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: 191px;
    width: 902px;
  }
  
  .image-2 {
    height: 497px;
    margin-bottom: 34.0px;
    margin-left: 185px;
    object-fit: cover;
    width: 349px;
  }
  
  .flex-row-1 {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    margin-top: 184px;
    min-width: 1602px;
  }
  
  .image-3 {
    height: 387px;
    margin-top: 34.49px;
    object-fit: cover;
    width: 687px;
  }
  
  .therefore-the-ben {
    height: 540px;
    letter-spacing: 0;
    line-height: 36px;
    margin-left: 109px;
    width: 806px;
  }
  
  .x2-the-advantage-of-ergonomic-chair {
    letter-spacing: 0;
    line-height: 44px;
    margin-left: 66px;
    margin-top: 351px;
    min-height: 60px;
    min-width: 774px;
    text-align: center;
    white-space: nowrap;
  }
  
  .image-4 {
    align-self: center;
    height: 650px;
    margin-right: 164.13px;
    margin-top: 78px;
    object-fit: cover;
    width: 1154px;
  }
  
  .helping-people-fee {
    align-self: flex-end;
    height: 482px;
    letter-spacing: 0;
    line-height: 36px;
    margin-right: 9.13px;
    margin-top: 86px;
    width: 1592px;
  }
  
  .group-8 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 192px;
    min-height: 1721px;
    opacity: 0.5;
    position: absolute;
    top: 6056px;
    width: 1582px;
  }
  
  .the-first-ergonomic {
    height: 284px;
    letter-spacing: 0;
    line-height: 100px;
    margin-right: 35.0px;
    text-align: center;
    width: 1509px;
  }
  
  .overlap-group {
    height: 835px;
    margin-right: 56.5px;
    margin-top: 87px;
    position: relative;
    width: 1336px;
  }
  
  .we-are-honored-to-be {
    height: 327px;
    left: 21px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1315px;
  }
  
  .screenshot-2022-01-03-225453 {
    height: 575px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 260px;
    width: 1217px;
  }
  
  .dergo-vietnam-is {
    height: 412px;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: 105px;
    text-align: center;
    width: 1582px;
  }
  
  .overlap-group1 {
    align-items: flex-end;
    background-color: var(--white);
    display: flex;
    height: 259px;
    left: 0;
    min-width: 1943px;
    padding: 59.5px 88.5px;
    position: absolute;
    top: 0;
  }
  
  .icons8-home {
    height: 132px;
    object-fit: cover;
    width: 132px;
  }
  
  .ergonomic-chair {
    align-self: flex-start;
    height: 123px;
    letter-spacing: 0;
    line-height: 100px;
    margin-left: 123px;
    margin-top: 4.04px;
    text-align: center;
    width: 1257px;
  }
  
  .icons8-menu {
    height: 132px;
    margin-left: 120px;
    object-fit: cover;
    width: 132px;
  }
  
  .group-9 {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    left: 982px;
    min-height: 9005px;
    padding: 73px 107px;
    position: absolute;
    top: 0;
    width: 960px;
  }
  
  .overlap-group2 {
    align-self: flex-start;
    height: 163px;
    position: relative;
    width: 708px;
  }
  
  .icons8-menu-1 {
    height: 132px;
    left: 576px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 132px;
  }
  
  .ergonomic-chair-1 {
    color: var(--dove-gray);
    font-family: var(--font-family-segoeui-regular);
    font-size: var(--font-size-xxxs);
    font-weight: 400;
    height: 132px;
    left: 0;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 31px;
    width: 578px;
  }
  
  .place {
    letter-spacing: 0;
    line-height: 100px;
    margin-left: 10.0px;
    margin-top: 413px;
    min-height: 113px;
    text-align: center;
    white-space: nowrap;
    width: 476px;
  }
  
  .production {
    letter-spacing: 0;
    line-height: 100px;
    margin-top: 420px;
    min-height: 113px;
    min-width: 578px;
    text-align: center;
    white-space: nowrap;
  }
  
  .mechanic {
    letter-spacing: 0;
    line-height: 100px;
    margin-left: 18.0px;
    margin-top: 414px;
    min-height: 113px;
    min-width: 484px;
    text-align: center;
    white-space: nowrap;
  }
  
  @font-face {
    font-family: "SegoeUI-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/SegoeUI-Regular") format("truetype");
  }
  @font-face {
    font-family: "SegoeUI-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/SegoeUI-Bold") format("truetype");
  }
  @font-face {
    font-family: "Algerian-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Algerian-Regular") format("truetype");
  }
  
  .listeners-active,
  .listeners-active * {
    pointer-events: auto;
  }
  
  .hidden,
  .hidden * {
    pointer-events: none;
    visibility: hidden;
  }
  
  .listeners-active-click,
  .listeners-active-click * {
    cursor: pointer;
  }