.group-18 {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 9005px;
    width: 1942px;
  }
  
  .overlap-group1 {
    align-items: flex-end;
    background-color: var(--white);
    display: flex;
    height: 259px;
    margin-right: 0;
    min-width: 1943px;
    padding: 59.5px 88.5px;
  }
  
  .icons8-home {
    cursor: pointer;
    height: 132px;
    object-fit: cover;
    width: 132px;
  }
  
  .ergonomic-chair {
    align-self: flex-start;
    height: 123px;
    letter-spacing: 0;
    line-height: 100px;
    margin-left: 123px;
    margin-top: 4.04px;
    text-align: center;
    width: 1257px;
  }
  
  .icons8-menu {
    cursor: pointer;
    height: 132px;
    margin-left: 120px;
    object-fit: cover;
    width: 132px;
  }
  
  .group-7 {
    display: flex;
    flex-direction: column;
    height: 1498px;
    justify-content: space-between;
    margin-right: 96.36px;
    margin-top: 398px;
    width: 1533px;
  }
  
  .structure-of-ergonomic-chair {
    color: var(--black);
    flex: 1;
    font-family: var(--font-family-segoeui-bold);
    font-size: var(--font-size-xl);
    font-weight: 700;
    height: 125px;
    letter-spacing: 0;
    line-height: 93px;
    margin-left: 150.5px;
    margin-right: 124.1px;
    margin-top: 15px;
    max-height: 125px;
    text-align: center;
    white-space: nowrap;
  }
  
  .image-1 {
    flex: 1;
    height: 862.11px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    max-height: 862.11px;
    object-fit: cover;
  }
  
  .group-6 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 98.13px;
    margin-top: 227px;
    min-height: 3306px;
    width: 1668px;
  }
  
  .title {
    color: var(--black);
    font-family: var(--font-family-segoeui-bold);
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 104px;
    margin-top: 17px;
    min-height: 140px;
    min-width: 1452px;
    text-align: center;
    white-space: nowrap;
  }
  
  .flex-row {
    align-items: flex-end;
    align-self: center;
    display: flex;
    height: 656px;
    margin-right: 100.13px;
    margin-top: 64px;
    min-width: 1436px;
  }
  
  .the-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 656px;
    width: 902px;
  }
  
  .x1-reduce-the-rate-of-scoliosis {
    letter-spacing: 0;
    line-height: 44px;
    min-height: 60px;
    min-width: 626px;
    text-align: center;
    white-space: nowrap;
  }
  
  .according-to-the-a {
    height: 405px;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: 191px;
    width: 902px;
  }
  
  .image-2 {
    height: 497px;
    margin-bottom: 34.0px;
    margin-left: 185px;
    object-fit: cover;
    width: 349px;
  }
  
  .flex-row-1 {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    margin-top: 184px;
    min-width: 1602px;
  }
  
  .image-3 {
    height: 387px;
    margin-top: 34.49px;
    object-fit: cover;
    width: 687px;
  }
  
  .therefore-the-ben {
    height: 540px;
    letter-spacing: 0;
    line-height: 36px;
    margin-left: 109px;
    width: 806px;
  }
  
  .x2-the-advantage-of-ergonomic-chair {
    letter-spacing: 0;
    line-height: 44px;
    margin-left: 66px;
    margin-top: 351px;
    min-height: 60px;
    min-width: 774px;
    text-align: center;
    white-space: nowrap;
  }
  
  .image-4 {
    align-self: center;
    height: 650px;
    margin-right: 164.13px;
    margin-top: 78px;
    object-fit: cover;
    width: 1154px;
  }
  
  .helping-people-fee {
    align-self: flex-end;
    height: 482px;
    letter-spacing: 0;
    line-height: 36px;
    margin-right: 9.13px;
    margin-top: 86px;
    width: 1592px;
  }
  
  .group-8 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 24.0px;
    margin-top: 368px;
    min-height: 1721px;
    width: 1582px;
  }
  
  .the-first-ergonomic {
    height: 284px;
    letter-spacing: 0;
    line-height: 100px;
    margin-right: 35.0px;
    text-align: center;
    width: 1509px;
  }
  
  .overlap-group {
    height: 835px;
    margin-right: 56.5px;
    margin-top: 87px;
    position: relative;
    width: 1336px;
  }
  
  .we-are-honored-to-be {
    height: 327px;
    left: 21px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1315px;
  }
  
  .screenshot-2022-01-03-225453 {
    height: 575px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 260px;
    width: 1217px;
  }
  
  .dergo-vietnam-is {
    height: 412px;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: 105px;
    text-align: center;
    width: 1582px;
  }
  
  .flex-row-2 {
    align-items: flex-start;
    display: flex;
    height: 50px;
    margin-left: 52.0px;
    margin-top: 374px;
    min-width: 1610px;
  }
  
  .back-to-home {
    align-self: flex-end;
    cursor: pointer;
    letter-spacing: 0;
    line-height: 36px;
    min-height: 50px;
    min-width: 268px;
    text-align: center;
    white-space: nowrap;
  }
  
  .learn-more-about-mechanic-and-design {
    cursor: pointer;
    letter-spacing: 0;
    line-height: 33px;
    margin-left: 718px;
    min-height: 46px;
    min-width: 624px;
    text-align: center;
    white-space: nowrap;
  }
  
  .group-5 {
    align-items: flex-end;
    align-self: flex-end;
    background-color: var(--black);
    display: flex;
    height: 449px;
    margin-top: 356px;
    min-width: 1920px;
    padding: 147.2px 224.0px;
  }
  
  .ddqn {
    letter-spacing: 0;
    line-height: 93px;
    min-height: 125px;
    min-width: 272px;
    text-align: center;
    white-space: nowrap;
  }
  
  @font-face {
    font-family: "SegoeUI-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/SegoeUI-Regular") format("truetype");
  }
  @font-face {
    font-family: "SegoeUI-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/SegoeUI-Bold") format("truetype");
  }
  
  .align-self-flex-end {
    align-self: flex-end;
  }