.mechanic-1 {
    background-color: var(--white);
    height: 25403px;
    position: relative;
    width: 4484px;
  }
  
  .mechanic-1 .overlap-group3 {
    height: 25403px;
    left: 0;
    position: absolute;
    top: 0;
    width: 4484px;
  }
  
  .mechanic-1 .group-5 {
    align-items: flex-end;
    background-color: var(--black);
    display: flex;
    height: 1697px;
    left: 0;
    min-width: 4484px;
    opacity: 0.5;
    padding: 532.5px 197px;
    position: absolute;
    top: 23706px;
  }
  
  .mechanic-1 .ddqn {
    letter-spacing: 0;
    line-height: 380px;
    min-height: 507px;
    min-width: 1106px;
    text-align: center;
    white-space: nowrap;
  }
  
  .mechanic-1 .learn-more-about-production {
    left: 2975px;
    letter-spacing: 0;
    line-height: 100px;
    position: absolute;
    text-align: center;
    top: 22496px;
    white-space: nowrap;
  }
  
  .mechanic-1 .title {
    left: 316px;
    letter-spacing: 0;
    line-height: 546px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 952px;
    white-space: nowrap;
  }
  
  .mechanic-1 .group-10 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 330px;
    min-height: 5277px;
    opacity: 0.5;
    position: absolute;
    top: 3230px;
    width: 3861px;
  }
  
  .mechanic-1 .flex-row {
    align-items: flex-start;
    display: flex;
    height: 1625px;
    margin-right: 71.0px;
    min-width: 3686px;
  }
  
  .mechanic-1 .ai-and-scan-3d {
    -webkit-text-stroke: 1px var(--black);
    align-self: flex-end;
    height: 1536px;
    letter-spacing: 0;
    line-height: 300px;
    width: 952px;
  }
  
  .mechanic-1 .overlap-group {
    height: 1581px;
    margin-left: 433px;
    position: relative;
    width: 2301px;
  }
  
  .mechanic-1 .obj_graf-0000020859-xx-001-view-1 {
    height: 1534px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 47px;
    width: 2301px;
  }
  
  .mechanic-1 .gom-scan-1 {
    -webkit-text-stroke: 1px var(--black);
    left: 816px;
    letter-spacing: 0;
    line-height: 132px;
    position: absolute;
    top: 1428px;
    white-space: nowrap;
  }
  
  .mechanic-1 .screenshot-2022-01-03-204511 {
    height: 375px;
    left: 613px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1111px;
  }
  
  .mechanic-1 .we-use-the-gom-sca {
    -webkit-text-stroke: 1px var(--black);
    height: 807px;
    letter-spacing: 0;
    line-height: 132px;
    margin-left: 30.0px;
    margin-top: 476px;
    width: 3757px;
  }
  
  .mechanic-1 .istockphoto-1191538418-640_adpp_is {
    height: 2172px;
    margin-top: 197px;
    object-fit: cover;
    width: 3861px;
  }
  
  .mechanic-1 .group-11 {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 72px;
    min-height: 8522px;
    opacity: 0.5;
    position: absolute;
    top: 9562px;
    width: 4341px;
  }
  
  .mechanic-1 .ai-and-chair {
    -webkit-text-stroke: 1px var(--black);
    letter-spacing: 0;
    line-height: 400px;
    margin-left: 2.0px;
    min-height: 403px;
    text-align: center;
    white-space: nowrap;
    width: 3595px;
  }
  
  .mechanic-1 .rectangle-1 {
    height: 2442px;
    margin-top: 507px;
    object-fit: cover;
    width: 4341px;
  }
  
  .mechanic-1 .overlap-group1 {
    height: 3241px;
    margin-left: 18.0px;
    margin-top: 534px;
    position: relative;
    width: 4009px;
  }
  
  .mechanic-1 .ai-learns-the-user {
    -webkit-text-stroke: 1px var(--black);
    height: 3241px;
    left: 0;
    letter-spacing: 0;
    line-height: 132px;
    position: absolute;
    top: 0;
    width: 1937px;
  }
  
  .mechanic-1 .picture1 {
    height: 1167px;
    left: 1935px;
    object-fit: cover;
    position: absolute;
    top: 85px;
    width: 2074px;
  }
  
  .mechanic-1 .picture2 {
    height: 1174px;
    left: 1935px;
    object-fit: cover;
    position: absolute;
    top: 1924px;
    width: 2074px;
  }
  
  .mechanic-1 .flex-row-1 {
    align-items: flex-start;
    display: flex;
    margin-left: 55.0px;
    margin-top: 310px;
    min-width: 4046px;
  }
  
  .mechanic-1 .chill {
    height: 1085px;
    object-fit: cover;
    width: 1935px;
  }
  
  .mechanic-1 .moreover-our-ai-w {
    -webkit-text-stroke: 1px var(--black);
    height: 692px;
    letter-spacing: 0;
    line-height: 132px;
    margin-left: 60px;
    width: 2051px;
  }
  
  .mechanic-1 .group-12 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 176px;
    min-height: 2430px;
    opacity: 0.5;
    position: absolute;
    top: 19029px;
    width: 4239px;
  }
  
  .mechanic-1 .ai-tec-hnology {
    -webkit-text-stroke: 1px var(--black);
    letter-spacing: 0;
    line-height: 400px;
    margin-left: 0;
    min-height: 403px;
    text-align: center;
    white-space: nowrap;
    width: 3731px;
  }
  
  .mechanic-1 .ai-technology-is-dev {
    -webkit-text-stroke: 1px var(--black);
    height: 367px;
    letter-spacing: 0;
    line-height: 132px;
    margin-top: 416px;
    width: 4239px;
  }
  
  .mechanic-1 .azurebeg {
    align-self: center;
    height: 1196px;
    margin-right: 1.0px;
    margin-top: 48px;
    object-fit: cover;
    width: 2126px;
  }
  
  .mechanic-1 .group-9 {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    left: 2242px;
    min-height: 25403px;
    padding: 73px 145px;
    position: absolute;
    top: 0;
    width: 2242px;
  }
  
  .mechanic-1 .flex-row-2 {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    height: 133px;
    min-width: 1582px;
  }
  
  .mechanic-1 .ergonomic-chair {
    align-self: flex-end;
    height: 132px;
    letter-spacing: 0;
    line-height: 100px;
    text-align: center;
    width: 1215px;
  }
  
  .mechanic-1 .icons8-menu {
    cursor: pointer;
    height: 132px;
    margin-left: 235px;
    object-fit: cover;
    width: 132px;
  }
  
  .mechanic-1 .place {
    cursor: pointer;
    letter-spacing: 0;
    line-height: 200px;
    margin-top: 508px;
    min-height: 225px;
    text-align: center;
    white-space: nowrap;
    width: 1282px;
  }
  
  .mechanic-1 .production {
    cursor: pointer;
    letter-spacing: 0;
    line-height: 200px;
    margin-left: 130.0px;
    margin-top: 378px;
    min-height: 225px;
    min-width: 1152px;
    text-align: center;
    white-space: nowrap;
  }
  
  .mechanic-1 .mechanic {
    cursor: pointer;
    letter-spacing: 0;
    line-height: 200px;
    margin-left: 1.0px;
    margin-top: 596px;
    min-height: 225px;
    min-width: 967px;
    text-align: center;
    white-space: nowrap;
  }
  
  .mechanic-1 .back-to-home {
    left: 193px;
    letter-spacing: 0;
    line-height: 100px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 22496px;
    white-space: nowrap;
  }
  
  .mechanic-1 .group-1 {
    align-items: flex-start;
    display: flex;
    height: 278px;
    justify-content: center;
    left: 0;
    min-width: 4484px;
    position: fixed;
    top: 0;
  }
  
  .mechanic-1 .overlap-group2 {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    height: 279px;
    margin-top: -0.5px;
    min-width: 4485px;
    padding: 68.5px 207.5px;
  }
  
  .mechanic-1 .icons8-home {
    height: 132px;
    margin-top: 1.0px;
    object-fit: cover;
    width: 132px;
  }
  
  .mechanic-1 .ai {
    align-self: center;
    height: 132px;
    letter-spacing: 0;
    line-height: 100px;
    margin-left: 1296px;
    text-align: center;
    width: 1215px;
  }
  
  .mechanic-1 .icons8-menu-1 {
    height: 132px;
    margin-left: 1293px;
    object-fit: cover;
    width: 132px;
  }
  
  @font-face {
    font-family: "SegoeUI-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/SegoeUI-Regular") format("truetype");
  }
  @font-face {
    font-family: "BaskervilleOld Face-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/BaskervilleOldFace-Regular") format("truetype");
  }
  @font-face {
    font-family: "Algerian-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Algerian-Regular") format("truetype");
  }
  
  .screen a {
    display: contents;
    text-decoration: none;
  }
  
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }
  
  .container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
  }